@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

@theme {
  /* Color Palette
    #462211, #874121, #eecab9
    #faefeb, #ddeff7, #b9ddee 
  */

  /* Primary/Earthy Tones */
  --color-brand-deep: #462211;
  --color-brand-medium: #874121;
  --color-brand-light: #eecab9;

  /* Backgrounds/Cool Tones */
  --color-bg-base: #faefeb;
  --color-bg-subtle: #ddeff7;
  --color-accent-blue: #b9ddee;

  --font-family-title: "Cherry Bomb One", system-ui, sans-serif;
}

@import "tailwindcss";
body {
background-color: var(--color-brand-light);
}